*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

* {
    /* colours */
    --primary-color: #4EB790;
    --secondary-color: #CFF5E7;
    --dark-green: #0E6F4B;
    --black-sub: #2E353E;
    --white-color: #FFFFFF;
    --red-color: #FC0606;
    --grey-color: #6E7175;
    --yellow-color: #D09705;
    --light-gradient: linear-gradient(180deg, #4EB790 0%, #20EBA0 100%);
    --dark-gradient: linear-gradient(180deg, #52BE96 0%, #31946F 53.12%, #0E6F4B 100%);
  
    /* text colors */
    --text-color: #2E353E;
  }

  .fundraiser-container{
    display: flex;
    justify-content: space-around;
    /* margin: 0rem 3rem 0rem 3rem; */
    align-items: start;
    gap: 3rem;
  }

  .fundraiser-left{
    flex: 2;
    padding: 0.5rem;
  }

 

  .fundraiser-image-container{
    width: 100%;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: space-between;
  }

  
  .fundraiser-image{
    height: 100%;
    width: 80%;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  }

  .fundraiser-image img{
    max-width: 100%; 
  max-height: 100%;
  object-fit: contain;  
    border-radius: 0.5rem;
  }

  .left-arrow, .right-arrow{
    display: flex;
    align-items:center;
  }

  .fundraiser-image-container .left-arrow{
    justify-content: flex-start;
  }

  .fundraiser-image-container .right-arrow{
    justify-content: flex-end;
  }

  .fundraiser-count-row{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .fundraiser-donee{
    padding: 5px;
    border-left: none;
  border-top: 1px solid var(--grey-color);
  border-right: none;
  border-bottom: 1px solid var(--grey-color);
  margin-bottom: 2rem;
}
   
  .fundraiser-donee-name{
    display: flex;
    justify-content:left;
    align-items:baseline;
    gap: 0.5rem;
  }

  .fundraiser-description p::first-letter {
    font-size: 150%; /* Set the desired larger font size for the first letter */
    font-weight: bold; 
}

  .fundriaser-description p{
    text-align: justify;
  }
  
  .fundraiser-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

  }

  .fundraiser-amount{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  .fundraiser-amount .text-2{
    margin-right: 0.6rem;
  }

  .fundraiser-progress-bar{
    margin: 1rem;
  }

  .fundraiser-button-list{
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items:center;
    width: 100%;
  }

  .info-box{
    margin-bottom: 1rem;
  }
  .info-box li{
    text-align: justify;
  }


  /* Merch css begin */

  .fundraiser-merch-container{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .fundraiser-merch-left{
    flex: 4;
  }

  .merch-img-container{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--grey-color);

  }

  .merch-img-container img{
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;  
      border-radius: 0.5rem;
  }

  .fundraiser-merch-right{
    flex: 5;
  }

  .merch-sizes, .merch-colors{
    display: flex;
    margin-bottom: 2rem;

  }

  .merch-sizes, .merch-colors p{
    flex-wrap: nowrap;
    flex: 10%;
  }

  .merch-sizes-right, .merch-colors-right{
    flex:50%;
    display: grid;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 992px){
    .fundraiser-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* margin: 0rem 3rem 0rem 3rem; */
      align-items: center;
      gap: 3rem;
    }

    .fundraiser-left, .fundraiser-right{
      width: 100%;
    }

    .fundraiser-button-list{
      display: flex;
      padding: 0.5rem;
      flex-direction: column;
      align-items:center;
      width: 60%;
    }
  }
  

  @media (max-width: 576px){
    .fundraiser-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* margin: 0rem 3rem 0rem 3rem; */
      align-items: center;
      gap: 3rem;
    }

    .fundraiser-left, .fundraiser-right{
      width: 100%;
    }
  }
  